.teachers {
  margin-top: 5rem;
}

.tr_card {
  position: relative;
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  background: #fff;
  height: 100%;
  border-radius: 20px;
  min-height: 450px;
  transition: all 0.4s ease;
}
.tr_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .teachers {
    margin-top: 4rem;
  }
  .tr_card {
    margin-top: 15px;
  }
}
