.testimonials {
  background: url("/images/testimonial_bg.jpg");
  width: 100%;
  /* height: 100vh; */
  margin-top: 15rem;
}

.tm_card {
  position: relative;
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  background: #fff;
  height: 100%;
  border-radius: 40px;
  min-height: 450px;
  transition: all 0.4s ease;
}

.tm_cart-subtitle {
  color: rgb(149, 149, 149);
}

.tm_card:hover,
.tm_card:hover .tm_card:hover .tm_cart-subtitle {
  background-color: #002f6c;
  color: #fff !important;
}

.tm_icon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  left: 50%;
  text-align: center;
  display: flex;
  border-top: 3px solid #002f6c !important;
  align-items: center;
  justify-content: center;
  line-height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 40px;
  /* transform: translate(-50%, -50%); */
  transition: all linear 0.3s;
  transform: translateX(-50%) rotate(0.5turn);
  -webkit-transform: translateX(-50%) rotate(0.5turn);
  -moz-transform: translateX(-50%) rotate(0.5turn);
  -ms-transform: translateX(-50%) rotate(0.5turn);
  -o-transform: translateX(-50%) rotate(0.5turn);
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.tm_body {
  padding: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.slick-dots li button {
  background-color: #fff;
  display: flex;
  border: 1px solid #8e8e8e;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.slick-dots li button:before {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 0; /* dotsning matnini yashirish */
  /* line-height: 15px; */
  width: 7.5px; /* dotsning kengligi */
  height: 7.5px; /* dotsning balandligi */
  background: rgb(255, 255, 255); /* dotsning rangi */
  border-radius: 50%; /* dotsni yuvarloq qilish */
  opacity: 0.25; /* dotsning shaffofligi */
}

.slick-dots li.slick-active button:before {
  width: 7.5px;
  color: #fff;
  background: #9d9d9d; /* active dotning rangi */
  opacity: 1; /* active dotning shaffofligi */
}

@media screen and (max-width: 600px) {
  .tm_card {
    min-height: 400px;
  }
}
